<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.dao.mapper.UserMapper">

    <resultMap id="userResult" type="com.ssm.bean.User">
        <id property="uuid" column="id" />
        <result property="userName" column="username" />
        <result property="birthday" column="birthday" />
        <result property="gender" column="sex" />
        <result property="address" column="address" />
    </resultMap>

    <select id="getUserList" parameterType="java.util.Map" resultMap="userResult">
        SELECT * FROM User_table
        <where>
            <if test="userName != null and userName != ''">
                AND username = #{username}
            </if>
            <if test="birthday != null and birthday != ''">
                AND birthday = #{birthday}
            </if>
            <if test="gender != null and gender != ''">
                AND sex = #{gender}
            </if>
            <if test="address != null and address != ''">
                AND address LIKE '%${address}%'
            </if>
        </where>
    </select>

    <delete id="deleteUser" parameterType="java.util.Map" >
        DELETE FROM User_table WHERE id = ${uuid}
    </delete>

    <update id="updateUser" parameterType="com.ssm.bean.User">
        UPDATE User_table
        <set>
            <if test="userName != null and userName != ''">
                username = #{userName},
            </if>
            <if test="birthday != null and birthday != ''">
                birthday = #{birthday},
            </if>
            <if test="gender != null">
                sex = #{gender},
            </if>
            <if test="address != null and address != ''">
                address = #{address}
            </if>
        </set>
        WHERE id = #{uuid}
    </update>

    <select id="getUserById" parameterType="java.util.Map" resultMap="userResult">
        SELECT * FROM User_table WHERE id = ${uuid}
    </select>

</mapper>